.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
}

.sidebar h1 {
  margin-left: 25px;
}

.nav-item {
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  margin-left: 30px;
}

.nav-link.text-gray {
  color: white;
  border: none;
  background-color: #343a40;
}

.main-content {
  padding: 20px;
  margin-left: 240px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 100;
  background-color: #343a40;
  color: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  display: flex;
  align-items: center;
  width: calc(33.33% - 1rem);
}

.dropdown-container select {
  margin-right: 1rem;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons button {
  margin-left: 1rem;
}